<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yulan.dao.ReturnCompensationBillDao">
    <resultMap id="BaseResultMap" type="ReturnCompensationBill" >
        <id column="ID" property="id" jdbcType="CHAR" />
        <result column="ERP_CREATOR" property="erpCreator" jdbcType="VARCHAR" />
        <result column="ERP_CREATORNAME" property="erpCreatorname" jdbcType="VARCHAR" />
        <result column="CREATE_TS" property="createTs" jdbcType="TIMESTAMP" />
        <result column="CID" property="cid" jdbcType="VARCHAR" />
        <result column="CNAME" property="cname" jdbcType="VARCHAR" />
        <result column="REASSURE_TS" property="reassureTs" jdbcType="TIMESTAMP" />
        <result column="SENDBACK_REASON" property="sendbackReason" jdbcType="VARCHAR" />
        <result column="ITEM_COUNT" property="itemCount" jdbcType="DECIMAL" />
        <result column="ITEM_MAX_INDEX" property="itemMaxIndex" jdbcType="DECIMAL" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="PRINTED" property="printed" jdbcType="CHAR" />
    </resultMap>

    <resultMap id="AllResultMap" type="ReturnCompensationBill" >
        <id column="ID" property="id" jdbcType="CHAR" />
        <result column="ERP_CREATOR" property="erpCreator" jdbcType="VARCHAR" />
        <result column="ERP_CREATORNAME" property="erpCreatorname" jdbcType="VARCHAR" />
        <result column="CREATE_TS" property="createTs" jdbcType="TIMESTAMP" />
        <result column="CID" property="cid" jdbcType="VARCHAR" />
        <result column="CNAME" property="cname" jdbcType="VARCHAR" />
        <result column="REASSURE_TS" property="reassureTs" jdbcType="TIMESTAMP" />
        <result column="SENDBACK_REASON" property="sendbackReason" jdbcType="VARCHAR" />
        <result column="ITEM_COUNT" property="itemCount" jdbcType="DECIMAL" />
        <result column="ITEM_MAX_INDEX" property="itemMaxIndex" jdbcType="DECIMAL" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="PRINTED" property="printed" jdbcType="CHAR" />
        <association property="rtcbItems" column="ID" select="com.yulan.dao.RtcbItemDao.getRtcbItemsByRtcbID" />
    </resultMap>

    <insert id="addReturnCompensationBill" parameterType="ReturnCompensationBill">
        insert into RETURNCOMPENSATIONBILL
        values
        (#{id},#{erpCreator},#{erpCreatorname},#{createTs},#{cid,jdbcType=VARCHAR},
        #{cname,jdbcType=VARCHAR},#{reassureTs,jdbcType=TIMESTAMP},
        #{sendbackReason,jdbcType=VARCHAR},#{itemCount,jdbcType=NUMERIC},
        #{itemMaxIndex,jdbcType=NUMERIC},#{state,jdbcType=VARCHAR},
        #{printed,jdbcType=CHAR})
    </insert>

    <delete id="deleteReturnCompensationBill" parameterType="String">
        delete from RETURNCOMPENSATIONBILL where id = #{id}
    </delete>

    <select id="getMaxID" parameterType="String" resultType="String">
        select * from (select id from RETURNCOMPENSATIONBILL where id like concat(concat('RZ',#{previous}),'%') order by id desc) where rownum=1
    </select>

    <select id="getReturnCompensationBill" parameterType="String" resultType="ReturnCompensationBill">
        select * from RETURNCOMPENSATIONBILL where id = #{id}
    </select>

    <select id="getSimpleReturnCompensationBills" parameterType="Map" resultMap="BaseResultMap">
        SELECT * FROM (SELECT ROWNUM AS rowno, t.* FROM RETURNCOMPENSATIONBILL t
        where ROWNUM &lt; #{end}
        <if test="CID != null">
            and cid = #{CID}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="createName != null">
            and ERP_CREATORNAME like concat(concat('%',#{createName}),'%')
        </if>
        <if test="cName != null">
            and CNAME like concat(concat('%',#{cName}),'%')
        </if>
        <if test="startTime != null">
            and CREATE_TS between #{startTime} and #{endTime}
        </if>
        <if test="itemNo != null">
            and (select count(*) from rtcb_item where item_no = #{itemNo} and rtcb_id = t.id)>0
        </if>
        order by id desc)
        table_alias WHERE table_alias.rowno &gt;= #{start}
    </select>

    <select id="getAllReturnCompensationBills" parameterType="Map" resultMap="AllResultMap">
        SELECT t.* FROM RETURNCOMPENSATIONBILL t
        where 1=1
        <if test="CID != null">
            and cid = #{CID}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="createName != null">
            and ERP_CREATORNAME like concat(concat('%',#{createName}),'%')
        </if>
        <if test="cName != null">
            and CNAME like concat(concat('%',#{cName}),'%')
        </if>
        <if test="startTime != null">
            and CREATE_TS between #{startTime} and #{endTime}
        </if>
        order by id
    </select>

    <select id="countSimpleReturnCompensationBills" parameterType="Map" resultType="Long">
        select count(*) from
        (
        SELECT id FROM RETURNCOMPENSATIONBILL t
        where 1=1
        <if test="CID != null">
            and cid = #{CID}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="createName != null">
            and ERP_CREATORNAME like concat(concat('%',#{createName}),'%')
        </if>
        <if test="cName != null">
            and CNAME like concat(concat('%',#{cName}),'%')
        </if>
        <if test="startTime != null">
            and CREATE_TS between #{startTime} and #{endTime}
        </if>
        <if test="itemNo != null">
            and (select count(*) from rtcb_item where item_no = #{itemNo} and rtcb_id = t.id)>0
        </if>
        )
    </select>

    <update id="updateReturnCompensationBillState" parameterType="Map">
        update RETURNCOMPENSATIONBILL set state = #{state},REASSURE_TS=#{reassureTs,jdbcType=TIMESTAMP} where id = #{id}
    </update>

    <update id="alterPrinted" parameterType="Map">
        update RETURNCOMPENSATIONBILL
        set PRINTED = #{printed}
        where id = #{id}
    </update>

</mapper>