<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yulan.dao.RtcbItemDao">
    <resultMap id="RtcbItemMap" type="RtcbItem" >
        <result column="RTCB_ID" property="rtcbId" jdbcType="CHAR" />
        <result column="ITEM_INDEX" property="itemIndex" jdbcType="DECIMAL" />
        <result column="ITEM_NO" property="itemNo" jdbcType="VARCHAR" />
        <result column="PRODUCTION_VERSION" property="productionVersion" jdbcType="VARCHAR" />
        <result column="UNIT" property="unit" jdbcType="VARCHAR" />
        <result column="QTY" property="qty" jdbcType="DECIMAL" />
        <result column="TOTALMONEY" property="totalmoney" jdbcType="DECIMAL" />
        <result column="NOTES" property="notes" jdbcType="VARCHAR" />
        <result column="PROCESS" property="process" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addRtcbItems" parameterType="Map">
        insert into RTCB_ITEM
        (RTCB_ID,ITEM_INDEX,ITEM_NO,PRODUCTION_VERSION,UNIT,QTY,TOTALMONEY,NOTES,PROCESS)
        (
        <foreach collection="rtcbItems" item="rtcbItem" separator="union all">
            select
            #{rtcbItem.rtcbId,jdbcType=VARCHAR},#{rtcbItem.itemIndex,jdbcType=NUMERIC},
            #{rtcbItem.itemNo,jdbcType=VARCHAR},#{rtcbItem.productionVersion,jdbcType=VARCHAR},
            #{rtcbItem.unit,jdbcType=VARCHAR},#{rtcbItem.qty,jdbcType=NUMERIC},
            #{rtcbItem.totalmoney,jdbcType=NUMERIC},#{rtcbItem.notes,jdbcType=VARCHAR},
            #{rtcbItem.process,jdbcType=VARCHAR}
            from dual
        </foreach>
        )
    </insert>

    <select id="getRtcbItemsByRtcbID" parameterType="String" resultMap="RtcbItemMap">
        select * from RTCB_ITEM t where rtcb_id = #{rtcbID} order by item_index
    </select>

</mapper>